[user]
	name = Jean-Philippe Eisenbarth
	email = jpeisenbarth@users.noreply.github.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	autosetuprebase = always
