## Atom files

.atom/blob-store
.atom/compile-cache
.atom/.apm
.atom/.node-gyp
.atom/packages
.atom/recovery
.atom/storage/*
.atom/nohup.out

## VSCodium
vscodium/.config/
! vscodium/.config/VSCodium/User/settings.json
! vscodium/.config/VSCodium/User/keybindings.json
