packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-ternjs"
  "atom-typescript"
  "autocomplete-ansible"
  "autocomplete-python"
  "autocomplete-ruby"
  "busy-signal"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-rename"
  "go-signature-statusbar"
  "hyperclick"
  "intentions"
  "jade-beautify"
  "language-ansible"
  "language-markdown"
  "language-pug"
  "linter"
  "linter-ansible-linting"
  "linter-eslint"
  "linter-gcc"
  "linter-node-markdownlint"
  "linter-ruby"
  "linter-shellcheck"
  "linter-tslint"
  "linter-ui-default"
  "markdown-pdf"
  "markdown-table-formatter"
  "package-sync"
  "prettier-atom"
  "python-indent"
  "sort-lines"
  "source-preview"
  "source-preview-pug"
]
