packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "autocomplete-ansible"
  "autocomplete-ruby"
  "busy-signal"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-rename"
  "go-signature-statusbar"
  "hyperclick"
  "intentions"
  "jade-beautify"
  "language-ansible"
  "language-jade"
  "language-pug"
  "linter"
  "linter-ansible-linting"
  "linter-eslint"
  "linter-ruby"
  "linter-shellcheck"
  "linter-tslint"
  "linter-ui-default"
  "markdown-table-formatter"
  "package-sync"
  "sort-lines"
  "source-preview"
  "source-preview-pug"
]
